<label for="song-filter-{{for}}" class={{if labelVisible "" "sr-only"}}>
  {{yield}}
</label>
{{input id=(concat "song-filter-" for) class=(concat "form-control song-filter " class) value=value onChange=onChange type=type min=min max=max size=size}}
