@import "ember-power-select";
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

//flex formatting for full site to push header to top and footer to bottom
.site-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 98vh;
  .flex-spacer {
    flex-grow: 1;
  }
}
footer{
  text-align: center;
}

//formatting for .table on edit pages
.div-table {
  display:table;
  .table-row {
    display:table-row;
    .table-cell {
      display: table-cell;
      margin: 5px;
      padding: 8px;
      border-top: 1px solid #ddd;
    }
  }
  .table-header {
    display:table-header-group;
    * {
      display: table-cell;
      font-weight:bold;
      padding: 8px;
      margin: 5px;
    }
  }
}

//a list environment for providing comma separated values, such as for the list of song languages or tags
.csv {
  padding: 0;
  display: inline;
  list-style: none;
  li{
    display: inline;
    &:after {
      content: ', ';
    }
    &:last-of-type:after {
      content: '';
    }
  }
}

.file-upload-success {
  color: green;
}

.flex {
  display: flex;
}

//removes weird spacing on x-file-input if rendering as button
.x-file-input.btn > label {
  margin-bottom: 0;
}

//makes column displaying pdf thumbnail not awkwardly wide
.pdfthumb {
  width: 146px;
}

//styles the headers of sortable list elements
.list-sortable{
  a {
    color: inherit;
    cursor: pointer;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background: url('images/sort_both.gif') no-repeat center right;
    padding-right: 21px;
    &:link, &:hover {
      text-decoration: none;
    }
  }

}
.sort-desc {
  a {
    background-image: url('images/sort_desc.gif');
  }

}
.sort-asc {
  a {
    background-image: url('images/sort_asc.gif');
  }
}

//style for delete modal
.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
