@import "ember-power-select";

//flex formatting for full site to push header to top and footer to bottom
.site-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 98vh;
  .flex-spacer {
    flex-grow: 1;
  }
}
footer{
  text-align: center;
}

//formatting for .table on edit pages
.table {
  display:table;
  .table-row {
    display:table-row;
    .table-cell {
      display: table-cell;
      margin: 5px;
    }
  }
  .table-header {
    display:table-header-group;
    * {
      display: table-cell;
      font-weight:bold;
    }
  }
}

//makes the upload button on the edit page look like a button.  change this later when you want to actually make it look good
.upload-button label {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

//a list environment for providing comma separated values, such as for the list of song languages or tags
.csv {
  padding: 0;
  display: inline;
  list-style: none;
  li{
    display: inline;
    &:after {
      content: ', ';
    }
    &:last-of-type:after {
      content: '';
    }
  }
}
