<div>
    <h2>About Broken Consort</h2>
    <p>Broken consort is a project aimed at providing modern transcriptions of renaissance period music for musicians
        interested in learning, performing, and playing said music. Available for download are individual songs,
        fully transcribed period song books, and custom, purpose-built collections.</p>
    <h2>Who are we?</h2>
    <p>Margaret Reynsford (Emma Badowski) is an amateur living historian and musician who is a member of the Society of
        Creative Anachronism (SCA) in the barony of Ben Dunfirth. She has transcribed all of the music, and created
        and curated all of the collections.</p>
    <p>Matthew Reynsford (Matthew Barry), her husband, designed the website.</p>
    <h2>Contact Us</h2>
    <p>Insert contact form here</p>
</div>