<div>
    <h2>Transcribed Renaissance Music</h2>

 {{models-table
    data=model
    columns=columns
    groupedHeaders=groupedHeaders
    showColumnsDropdown=false
    filteringIgnoreCase=true
    showTableFooter=false
    pageSize=x
 }}
</div>


